
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
   }
.navbar{
    background-color: rgba(4, 4, 139, 0.911) ;
    font-size: 0.875rem;
}



.bannar-img {  
    height: 70vh;  
    width: 100%;  
    background-size: cover;  
    background-position: center;  
}


.main-all-content{
    padding-inline: 15%;
    padding-block: 50px;

}
.deals-img {  
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
}
.deals-img {  
    width: 100%;  ; /* Adjust as needed */  
    background-image: url('.deals-img'); /* Set your image */  
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
}


.Furycube{
    height: 100px;
}


.text-shadow {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5); /* Adds a bold shadow effect */
}



.container1{
    height: 300px;

}
.container2{
    height: 300px;
}
.img1{
    height: 300px;
    width: 100%;

}
.img2{
    height: 300px;
    width:100%;
}
footer{
    background-color: rgba(12, 12, 199, 0.911);
    font-size: 0.875rem;
}